@charset "UTF-8";

.cm-wrapper {
	position: relative;
}

.cm-inner {
	width: 1100px;
	margin: 0 auto;
}

.contents-inner {
	width: 1080px;
	margin: 0 auto;
}

.posts-inner {
	width: 1024px;
	margin: 0 auto;
}

.main {
	margin: 100px auto;
}

.cm-cell {
	display: table-cell;
	vertical-align: middle;
}

.icnSA {
	background-image: url(../img/sprite/icon_sprite_a.png);
	background-repeat: no-repeat;
}

/*
///////////////////////////////////////
header
///////////////////////////////////////
*/

.visual {
	position: fixed;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 3;
}

.visual .visual-inner {
	position: relative;
	width: 100%;
	min-width: 1280px;
	margin: 0 auto;
}

.visual .visual__carousel li {
	display: table;
	width: 100%;
	text-indent: -9999px;
}

.visual .visual__carousel .faq {
	height: 400px;
	background: url(../img/kv/kv_top_01.jpg) no-repeat scroll 0% 0% transparent;
	background-position: bottom;
	background-size: 100%;
}

.cm-container {
	position: relative;
	z-index: 5;
	top: 0px;
	margin-top: 400px;
	background-color: #ffffff;
}

.undervisual {
	position: fixed;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 3;
}

.undervisual .undervisual-inner {
	position: relative;
	width: 100%;
	min-width: 1280px;
	margin: 0 auto;
}

.undervisual .undervisual__carousel li {
	display: table;
	width: 100%;
	text-indent: -9999px;
}

.undervisual .undervisual__carousel .faq {
	height: 300px;
	background: url(../img/kv/kv_top_01.jpg) no-repeat scroll 0% 0% transparent;
	background-position: bottom;
	background-size: 100%;
}

.cm-under-container {
	position: relative;
	z-index: 5;
	top: 0px;
	margin-top: 300px;
	background-color: #ffffff;
}

/*
///////////////////////////////////////
underSidebar
///////////////////////////////////////
*/

.main-side-category-head {
	padding:15px;
	color:#ffffff;
	background-color:#85A063;
	font-size:14px;
	font-weight:bold;
}

.sideList__head {
	padding:15px 15px 15px 0;
	border-top:3px solid #85A063;
	border-bottom:3px solid #85A063;
	color:#ffffff;
	font-size:16px;
	font-weight:bold;
}

.sideList__body li {
	border-bottom:1px dashed #B3B3B3;
}

.sideList__body li a {
	position:relative;
	display:block;
	padding:17px 20px 17px 20px;
	font-size:13px;
	-webkit-transition: all 0.35s ease;
	-ms-transition: all 0.35s ease;
	-moz-transition: all 0.35s ease;
	transition: all 0.35s ease;
	font-family:'Raleway';
}

.sideList__body li a:after {
	content:"";
	position:absolute;
	right:20px;
	top:25px;
	width:8px;
	height:8px;
	margin-top:-5px;
	border-top:1px solid #888888;
	border-right:1px solid #888888;
	-webkit-transform:rotate(45deg);
	-ms-transform:rotate(45deg);
	-moz-transform:rotate(45deg);
	transform:rotate(45deg);
}

.sideList__body li a:hover {
	background-color:#d8d8d8;
}


/*
///////////////////////////////////////
pageToTop
///////////////////////////////////////
*/
.btn-pagetotop {
	display: none;
	position: absolute;
	right: 50px;
	bottom: 120px;
	width: 60px;
	height: 60px;
	z-index: 300;
}

.btn-pagetotop a {
	display: block;
	width: 60px;
	height: 60px;
	border-radius: 50%;
	background-color: #000000;
	text-indent: -9999px;
}

.btn-pagetotop a:after {
	border-left: 1px solid #FFF;
	border-top: 1px solid #FFF;
	position: absolute;
	top: 26px;
	left: 21px;
	display: block;
	content: "";
	width: 17px;
	height: 17px;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	transform: rotate(45deg);
}

/*
///////////////////////////////////////
footer
///////////////////////////////////////
*/

.footer {
	width: 100%;
	height: 100px;
	background: url(../img/bg_foot.png) left top;
}

.footer-inner {
	width: 1200px;
	margin: 0 auto;
}