@charset "UTF-8";

.cm-inner {
	width: 1200px;
	margin: 0 auto;
}

.main {
	margin: 100px auto;
}

.cm-postblock {
	position: relative;
	padding: 60px 0 60px;
	background: url(../img/content_border.png) no-repeat top left;

}

.cm-postblock-head {
	font-size: 16px;
	font-size: 1.6rem;
	text-align: center;
}

.cm-postblock-head span {
	position: absolute;
	top: -5px;
	right: 0;
	left: 0;
	margin: auto;
	width: 120px;
	height: 15px;
	background-color: #fff;
}

.cm-postblock-inner {
	margin: 0 -15px 0 -15px;
	padding: 0 60px;
	overflow: hidden;
}

/*
///////////////////////////////////////
header
///////////////////////////////////////
*/
.header {
	position: relative;
}

.header-logos {
	border-bottom: 1px solid #bbbbbb;
}

.header-logos-inner {
	position: relative;
	height: 210px;
}

.header-logos-img {
	position: absolute;
	left: 20px;
	top: 40px;
}

.header-logos-img a {
	display: block;
	float: left;
	width: 350px;
	height: 126px;
}

.header-logos-nav {
	float: right;
}

.header-logos-nav ul {
	border-left: 1px solid #bbbbbb;
	border-right: 1px solid #bbbbbb;
}

.header-logos-nav ul li {
	float: left;
	width: 150px;
	height: 210px;
}

.header-logos-nav ul li + li {
	border-left: 1px solid #bbbbbb;
}

.header-logos-nav ul li a,
.header-logos-nav ul li span {
	position: relative;
	display: block;
	width: 150px;
	height: 210px;
}

.header-logos-nav ul li a:after,
.header-logos-nav ul li span:after {
	content: "";
	position: absolute;
	left: 59px;
	bottom: 50px;
	width: 30px;
	height: 30px;
	background: url(../img/icon/icon_gnav.svg) no-repeat;
	background-size: 30px 30px;
}

.header-logos-nav ul li span {
	color: #ededed;
}

.header-logos-nav ul li a:hover,
.header-logos-nav ul li a.current {
	/*background:url(../img/bg_stripe.svg);*/
}

.header-logos-nav-list-inner {
	position: absolute;
	top: -30px;
	right: 0;
	bottom: 0;
	left: 0;
	width: 150px;
	height: 31px;
	margin: auto;
	text-align: center;
	font-family: 'Raleway';
}

.header-logos-nav-list-head {
	font-size: 13px;
	font-size: 1.3rem;
	font-weight: bold;
}

.header-logos-nav-list-ruby {
	margin-top: 10px;
	font-size: 10px;
	font-size: 1rem;
}

/*
///////////////////////////////////////
underSidebar
///////////////////////////////////////
*/

.main-side-category-head {
	padding:15px;
	color:#ffffff;
	background-color:#85A063;
	font-size:16px;
	font-size:1.6rem;
	font-weight:bold;
}

.sideList__head {
	padding:15px 15px 15px 0;
	border-top:3px solid #85A063;
	border-bottom:3px solid #85A063;
	color:#ffffff;
	font-size:16px;
	font-size:1.6rem;
	font-weight:bold;
}

.sideList__body li {
	border-bottom:1px dashed #B3B3B3;
}

.sideList__body li a {
	position:relative;
	display:block;
	padding:17px 20px 17px 20px;
	font-size:15px;
	font-size:1.5rem;
	-webkit-transition:background-color 0.3s;
	-ms-transition:background-color 0.3s;
	-moz-transition:background-color 0.3s;
	transition:background-color 0.3s;
	font-family:'Raleway';
}

.sideList__body li a:after {
	content:"";
	position:absolute;
	right:20px;
	top:25px;
	width:8px;
	height:8px;
	margin-top:-5px;
	border-top:1px solid #888888;
	border-right:1px solid #888888;
	-webkit-transform:rotate(45deg);
	-ms-transform:rotate(45deg);
	-moz-transform:rotate(45deg);
	transform:rotate(45deg);
}

.sideList__body li a:hover {
	background-color:#d8d8d8;
}


/*
///////////////////////////////////////
kv
///////////////////////////////////////
*/

.kv img {
	vertical-align: bottom;
}

.kv-outer {
	position: relative;
	height: 500px;
	overflow: hidden;
}

.kv-inner {
	position: absolute;
	top: 0;
	left: 50%;
	width: 6000px;
	margin-left: -1800px;
}

.kv-inner li {
	float: left;
}

.kv-inner li img {
	display: block;
	opacity: 1;
}

.kv-cover-left,
.kv-cover-right {
	position: absolute;
	top: 0;
	width: 100%;
	height: 500px;
	background: rgba(0, 0, 0, 0.7);
}

.kv-cover-left {
	left: 50%;
	margin-left: 600px;
}

.kv-cover-right {
	right: 50%;
	margin-right: 600px;
}

.kv-prev,
.kv-next {
	position: absolute;
	top: 50%;
	margin-top: -30px;
}

.kv-prev {
	left: 0;
}

.kv-next {
	right: 0;
}

/*
///////////////////////////////////////
pageToTop
///////////////////////////////////////
*/
.btn-pagetotop {
	display: none;
	position: absolute;
	right: 50px;
	bottom: 120px;
	width: 60px;
	height: 60px;
	z-index: 300;
}

.btn-pagetotop a {
	display: block;
	width: 60px;
	height: 60px;
	border-radius: 50%;
	background-color: #000000;
	text-indent: -9999px;
}

.btn-pagetotop a:after {
	border-left: 1px solid #FFF;
	border-top: 1px solid #FFF;
	position: absolute;
	top: 26px;
	left: 21px;
	display: block;
	content: "";
	width: 17px;
	height: 17px;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	transform: rotate(45deg);
}

/*
///////////////////////////////////////
footer
///////////////////////////////////////
*/

.footer {
	width: 100%;
	height: 100px;
	background-color: #000000;
}

.footer-inner {
	width: 1200px;
	margin: 0 auto;
}