@charset "UTF-8";

.cm-inner {
	width: 1024px;
	margin: 0 auto;
}

.contents-inner {
	width: 1080px;
	margin: 0 auto;
}

.main {
	margin: 100px auto;
}

.cm-postblock-inner {
	margin: 0 -15px 0 -15px;
	overflow: hidden;
}

/*
///////////////////////////////////////
header
///////////////////////////////////////
*/
.header {
	position: relative;
}

.header-logos {
	background: url(../img/dotted_line.png) repeat-x left bottom;
	background-size: 45px 1px;
}

.header-logos-inner {
	position: relative;
	height: 185px;
}

.header-logos-img {
	position: absolute;
	left: 10px;
	top: 30px;
}

.header-logos-img a {
	display: block;
	float: left;
	width: 320px;
	height: 115px;
}

.header-logos-nav {
	float: right;
}

.header-logos-nav ul {
	background: url(../img/dotted_line_tate.png) repeat-y right top;
	background-size: 1px 45px;
}

.header-logos-nav ul li {
	float: left;
	width: 150px;
	height: 185px;
	background: url(../img/dotted_line_tate.png) repeat-y left top;
	background-size: 1px 45px;
}

.header-logos-nav ul li a,
.header-logos-nav ul li span {
	position: relative;
	display: block;
	width: 150px;
	height: 185px;
}

.header-logos-nav ul li a:after,
.header-logos-nav ul li span:after {
	content: "";
	position: absolute;
	left: 61px;
	bottom: 40px;
	width: 25px;
	height: 25px;
	background: url(../img/icon/icon_gnav.svg) no-repeat;
	background-size: 25px 25px;
}

.header-logos-nav ul li span {
	color: #ededed;
}

.header-logos-nav ul li a:hover,
.header-logos-nav ul li a.current {
	/*background:url(../img/bg_stripe.svg);*/
}

.header-logos-nav-list-inner {
	position: absolute;
	top: -30px;
	right: 0;
	bottom: 0;
	left: 0;
	width: 150px;
	height: 31px;
	margin: auto;
	text-align: center;
	font-family: 'Raleway';
}

.header-logos-nav-list-head {
	font-size: 13px;
	font-weight: bold;
}

.header-logos-nav-list-ruby {
	margin-top: 10px;
	font-size: 10px;
}

/*
///////////////////////////////////////
underSidebar
///////////////////////////////////////
*/

.main-side-category-head {
	padding:15px;
	color:#ffffff;
	background-color:#85A063;
	font-size:14px;
	font-weight:bold;
}

.sideList__head {
	padding:15px 15px 15px 0;
	border-top:3px solid #85A063;
	border-bottom:3px solid #85A063;
	color:#ffffff;
	font-size:16px;
	font-weight:bold;
}

.sideList__body li {
	border-bottom:1px dashed #B3B3B3;
}

.sideList__body li a {
	position:relative;
	display:block;
	padding:17px 20px 17px 20px;
	font-size:13px;
	-webkit-transition: all 0.35s ease;
	-ms-transition: all 0.35s ease;
	-moz-transition: all 0.35s ease;
	transition: all 0.35s ease;
	font-family:'Raleway';
}

.sideList__body li a:after {
	content:"";
	position:absolute;
	right:20px;
	top:25px;
	width:8px;
	height:8px;
	margin-top:-5px;
	border-top:1px solid #888888;
	border-right:1px solid #888888;
	-webkit-transform:rotate(45deg);
	-ms-transform:rotate(45deg);
	-moz-transform:rotate(45deg);
	transform:rotate(45deg);
}

.sideList__body li a:hover {
	background-color:#d8d8d8;
}


/*
///////////////////////////////////////
pageToTop
///////////////////////////////////////
*/
.btn-pagetotop {
	display: none;
	position: absolute;
	right: 50px;
	bottom: 120px;
	width: 60px;
	height: 60px;
	z-index: 300;
}

.btn-pagetotop a {
	display: block;
	width: 60px;
	height: 60px;
	border-radius: 50%;
	background-color: #000000;
	text-indent: -9999px;
}

.btn-pagetotop a:after {
	border-left: 1px solid #FFF;
	border-top: 1px solid #FFF;
	position: absolute;
	top: 26px;
	left: 21px;
	display: block;
	content: "";
	width: 17px;
	height: 17px;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	transform: rotate(45deg);
}

/*
///////////////////////////////////////
footer
///////////////////////////////////////
*/

.footer {
	width: 100%;
	height: 100px;
	background: url(../img/bg_foot.png) left top;
}

.footer-inner {
	width: 1200px;
	margin: 0 auto;
}