@charset "UTF-8";

/*
///////////////////////////////////////
Section
///////////////////////////////////////
*/

.section__head {
	text-align: center;
}

.section__desc:after {
	width: 0;
	height: 0;
	border: 10px solid transparent;
	border-top: 10px solid #f00;
	text-align: center;
}

.section__title {
	font-size: 20px;
	padding: 40px 0 0 0;
	font-family: "Arapey",serif;
	font-style: italic;
}

.section__desc {
	position: relative;
	padding: 0 0 40px 0;
	line-height: 1.7;
}

.section__title + .section__desc {
	margin-top: 10px;
}

/*
///////////////////////////////////////
PostList
///////////////////////////////////////
*/

.cm-postblock-inner {
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
}

.postlist {
	float: left;
	width: 263px;
	padding: 25px 15px 35px;
	border: 1px solid #ddd;
	box-sizing: border-box;
	-webkit-transition: all 0.35s ease;
	-ms-transition: all 0.35s ease;
	-moz-transition: all 0.35s ease;
	transition: all 0.35s ease;
}

.postlist + .postlist {
	border-left: none;
}

.postlist:nth-child(1),
.postlist:nth-child(5) {
	border-left: none;
}

.postlist:nth-child(1),
.postlist:nth-child(2),
.postlist:nth-child(3),
.postlist:nth-child(4) {
	border-top: none;
}

.postlist:nth-child(4),
.postlist:nth-child(8) {
	border-right: none;
}

.postlist:nth-child(5),
.postlist:nth-child(6),
.postlist:nth-child(7),
.postlist:nth-child(8) {
	border-top: none;
	border-bottom: none;
}

.postlist a {
	display:block;
}

.postlist:hover {
	background-color: #fdfdfd;
}

.postlist:hover .postSocial {
	opacity:1;
}

.postlist:hover .postlist__head,
.postlist:hover .postlist__desc,
.postlist:hover .postlist__class-date {
	color: #3791cb;
}

.postlist:hover .postlist__info--mask {
	opacity:1;
}

.postlist:hover .postlist__class-cat {
	background-color: #ff0000;
}

.postlist:hover .postSocial__list-facebook,
.postlist:hover .postSocial__list-twitter,
.postlist:hover .postSocial__list-hatena {
	opacity:1;
	-webkit-transform: rotateY(0deg);
	transform: rotateY(0deg);
}

.postlist__info {
	position:relative;
	margin-bottom:20px;
}

.postlist__info--mask {
	width:100%;
	height:100%;
	position:absolute;
	top:0;
	left:0;
	z-index:2;
	background:rgba(0, 0, 0, .7);
	opacity:0;
	-webkit-transition: all 0.35s ease;
	-ms-transition: all 0.35s ease;
	-moz-transition: all 0.35s ease;
	transition: all 0.35s ease;
}

.postlist__head {
	margin-bottom:15px;
	color:#111111;
	font-size:15px;
	text-align:center;
	line-height:1.4;
	-webkit-transition: all 0.35s ease;
	-ms-transition: all 0.35s ease;
	-moz-transition: all 0.35s ease;
	transition: all 0.35s ease;
}

.postlist__thum {
	margin-bottom:18px;
}

.postlist__thum img {
	width: 100%;
	height: auto;
}

.postlist__desc {
	margin-bottom:20px;
	font-size:11px;
	line-height:1.9;
	-webkit-transition: all 0.35s ease;
	-ms-transition: all 0.35s ease;
	-moz-transition: all 0.35s ease;
	transition: all 0.35s ease;
}

.postlist__class-date {
	float:left;
	color:#515151;
	line-height:22px;
	vertical-align:bottom;
	-webkit-transition:color 0.35s;
	transition:color 0.35s;
}

.postlist__class-cat {
	float: right;
	padding: 5px 10px;
	color: #ffffff;
	font-weight:bold;
	background-color: #000000;
	-webkit-transition:background-color 0.35s;
	transition:background-color 0.35s;
}

/*
///////////////////////////////////////
 postSocialList
///////////////////////////////////////
*/
.postSocial {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 190px;
	height: 25px;
	margin: auto;
	z-index: 10;
	opacity: 0;
	color: #fff;
	-webkit-transition: all 0.75s ease;
	-ms-transition: all 0.75s ease;
	-moz-transition: all 0.75s ease;
	transition: all 0.75s ease;
}

.postSocial__list {
	display:table;
	float:left;
	z-index:30;
}

.postSocial__list + .postSocial__list {
	margin-left:15px;
}

.postlist a:hover .postSocial__icon {
	-webkit-transform: rotateY(0deg);
	transform: rotateY(0deg);
	opacity: 1;
}

.postSocial__icon {
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transition: all 0.35s ease;
	-ms-transition: all 0.35s ease;
	-moz-transition: all 0.35s ease;
	transition: all 0.35s ease;
	-webkit-transform: rotateY(-315deg);
	transform: rotateY(-315deg);
	opacity: 0;
}

.postSocial__list-facebook,
.postSocial__list-twitter,
.postSocial__list-hatena {
	display:table-cell;
	float:left;
	width:25px;
	height:25px;
	padding-right:5px;
	-webkit-transform: rotateY(-215deg);
	transform: rotateY(-215deg);
	opacity: 0;
	-webkit-transition: -webkit-transform 0.35s ease 0.05s,opacity 0.35s ease 0.05s;
	transition: transform 0.35s ease 0.05s,opacity 0.35s ease 0.05s;
}

.postSocial__list-facebook {
	background:url(../img/icon/icon_facebook.svg) no-repeat;
	background-size:25px 25px;
}

.postSocial__list-twitter {
	background:url(../img/icon/icon_twitter.svg) no-repeat;
	background-size:25px 25px;
}

.postSocial__list-hatena {
	background:url(../img/icon/icon_google.svg) no-repeat;
	background-size:25px 25px;
}

.postSocial__list-number {
	display:table-cell;
	vertical-align:middle;
}

/*
///////////////////////////////////////
more
///////////////////////////////////////
*/
.postlist-more {
	width:70%;
	margin:20px auto 0;
}

.postlist-more-btn a {
	position: relative;
	display: block;
	padding: 17px 15px;
	border-radius: 5px;
	background: url(../img/bg_foot.png) left top;
	color: #fff;
	font-size: 16px;
	text-align: center;
	opacity: 1;
	box-shadow: 0 1px 3px #b6b6b6;
	-webkit-transition: all 0.35s ease;
	-ms-transition: all 0.35s ease;
	-moz-transition: all 0.35s ease;
	transition: all 0.35s ease;
}

.postlist-more-btn a:hover {
	opacity: 0.7;
}

.postlist-more-btn a:after {
	content:"";
	position:absolute;
	right:25px;
	top:23px;
	width:15px;
	height:15px;
	margin-top:-5px;
	border-top:1px solid #ffffff;
	border-right:1px solid #ffffff;
	-webkit-transform:rotate(45deg);
	-ms-transform:rotate(45deg);
	-moz-transform:rotate(45deg);
	transform:rotate(45deg);
}

.postlist-more-list {
	margin-top:20px;
	text-align:center;
}

.postlist-more-list li {
	display:inline-block;
}

.postlist-more-list li + li {
	margin-left:10px;
}

.postlist-more-list li a {
	position: relative;
	display: block;
	width: 40px;
	height: 40px;
	border: 1px solid #525252;
	border-radius: 5px;
	color: #525252;
	font-size: 17px;
	box-sizing: border-box;
	box-shadow: 0 1px 3px #979797;
	-webkit-transition: all 0.35s ease;
	-ms-transition: all 0.35s ease;
	-moz-transition: all 0.35s ease;
	transition: all 0.35s ease;
	-webkit-font-smoothing: antialiased;
}

.postlist-more-list li a:hover {
	background-color:#FF8C00;
	border: 1px solid #FF8C00;
	color: #ffffff;
}

.postlist-more-list li a span {
	position:absolute;
	left:0;
	top:0;
	right:0;
	bottom:0;
	margin:auto;
	width:35px;
	height:15px;
}

/*
///////////////////////////////////////
 PostSocialarea
///////////////////////////////////////
*/
.socialarea {
	width: 670px;
	margin: 0 auto;
	padding: 30px 0;
	border-top: 1px solid #cccccc;
	border-bottom: 1px solid #cccccc;
}

.socialarea__list {
	display: table;
	margin: 0 auto;
}

.socialarea__list li {
	display: table-cell;
	height: 63px;
	padding: 0 5px;
	vertical-align: top;
}

.socialarea__share a {
	display: block;
	width: 63px;
	height: 63px;
}


/*
///////////////////////////////////////
 UnderPostCategorys
///////////////////////////////////////
*/

.cat-html, .cat-js {
	padding:5px;
	background-color:#000000;
	color:#ffffff;
}

.cm-blogtag span {
	display:table-cell;
	height:22px;
	padding:0 15px;
	color:#f3f3f3;
	font-size:12px;
	vertical-align:middle;
	text-align:center;
}

.cm-blogtag {
	display:table;
	position:absolute;
	top:0;
	right:0;
}

.cm-blogtag .html {
	background: rgba(255,51,51,0.8);
}

.cm-blogtag .js {
	background-color:#1375ff;
}

.cm-blogtag .wp {
	background-color:#ffc846;
}

.cm-blogtag .web {
	background-color:#23ff19;
}

.cm-blogtag .css {
	background-color:#36baff;
}

.cm-blogtag .zen {
	background-color:#695d65;
}