@charset "UTF-8";

.main-side-left {
	float: left;
	width: 300px;
	margin-right: 35px;
}

.main-contents {
	float: left;
	width: 865px;
}

.post-left {
	margin: 0 -10px;
}

.postlist {
	float: left;
	width: 275px;
	padding: 0 10px 40px;
}