@charset "UTF-8";

.header {
	width: 100%;
	margin: 0 0 30px;
	background-color: #000000;
}

.header-inner {
	width: 1080px;
	height: 35px;
	margin: 0 auto;
}

.header-gnav-list {
	display: table;
	width: 100%;
}

.header-gnav-list li {
	float: left;
	width: 33.333%;
}

.header-gnav-list li a {
	display: block;
	width: 100%;
	height: 35px;
	border-right: 1px solid #ffffff;
	color: #ffffff;
	font-family: 'Quicksand', sans-serif;
	font-size: 15px;
	font-size: 1.5rem;
	font-weight: bold;
	letter-spacing: 3px;
	line-height: 35px;
	text-align: center;
	-webkit-transition: background-color 0.3s;
	-ms-transition: background-color 0.3s;
	-moz-transition: background-color 0.3s;
	transition: background-color 0.3s;
}

.header-gnav-list li a:first-child {
	border-left: 1px solid #ffffff;
}

.header-gnav-list li a:hover {
	background-color: #ffffff;
	color: #000000;
}