@charset "UTF-8";

.main {
	margin: 30px auto 40px;
}

/*
///////////////////////////////////////
Header
///////////////////////////////////////
*/


/*
///////////////////////////////////////
Pickup
///////////////////////////////////////
*/
.pickup__wrap {
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
}

.pickup__lists {
	border-right: 1px solid #ddd;
}

.pickup__lists li {
	float: left;
	width: 33.333%;
	border-left: 1px solid #ddd;
	box-sizing: border-box;
}

.pickup__lists li a {
	display: block;
	padding: 30px 15px;
}

.pickup__lists li img {
	width: 100%;
	height: auto;
}

/*
///////////////////////////////////////
Main Post
///////////////////////////////////////
*/

.cm-postblock {
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
}

.postlist-more {
	width: 30%;
	margin: 0 auto 80px;
}